img { /* lazy loading images */
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

a, .uk-text-meta a { /* made anchor colour slightly darker to meet accessibility recommendations */
  color: #0e6ecd;
}

.uk-text-meta a:hover { /* for the google street view link */
  color: #0e6ecd;
  text-decoration: underline;
}

a[href^="tel"] {
  color:inherit;
}



/* rainbow section colours ===================================================== START */
.why-us a, #why-us h2, #why-us h3, #why-us .uk-icon:not(.social-icon) { color: #F44336 !important; }
#why-us .uk-divider-small::after { border-top: 1px solid #F44336; }

.services a, #services h2, #services .uk-icon { color: #FF9800 !important; }
#services .uk-divider-small::after { border-top: 1px solid #FF9800; }
#services .uk-tab>.uk-active>a { /* the right border for active tab in the services section */
  border-color: #FF9800;
}

.commercial a, #commercial h2, #commercial .uk-icon { color: #FFEB3B !important; }
#commercial .uk-divider-small::after { border-top: 1px solid #FFEB3B; }

.domestic a, #domestic h2, #domestic .uk-icon { color: #8BC34A !important; }
#domestic .uk-divider-small::after { border-top: 1px solid #8BC34A; }

.colours a, #colours h2, #colours .uk-icon { color: #2297F3 !important; }
#colours .uk-divider-small::after { border-top: 1px solid #2297F3; }
#colours .uk-tab>.uk-active>a, #colours .uk-search-input {
  color: rgba(255, 255, 255, 1);
  border-color: #2297F3;
}

.contact a, #contact h2, #contact .uk-icon { color: #9D27B0 !important; }
#contact .uk-divider-small::after { border-top: 1px solid #9D27B0; }
#contact .uk-input, #contact .uk-textarea {
  border-color: #9D27B0;
}
#contact .uk-button {
  background-color: #9D27B0;
  color: rgba(255, 255, 255, 0.9);
  padding: 5px 30px;
  font-size: 1rem;
}
#contact .uk-icon-image {
  float: right;
  margin-top: 8px;
  margin-left: 8px;
  width: 24px;
  height: 24px;
}
/* rainbow section colours ===================================================== END */



/* extra styles not available in ui-kit ======================================== START */
.gbc-text-white {
  color: #ffffff;
}

.gbc-text-shadow {
  text-shadow: 1px 2px 3px #666;
}

.uk-sticky-below {
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

.uk-textarea {
  resize: none;
}

.gbc-height-x-large { /* a custom height, as ui-kit's isn't quite big enough */
  height: calc(100vh - 120px);
}

.uk-nav>li>a {
  padding: 10px;
}
/* extra styles not available in ui-kit ======================================== END */



/* specific styles ============================================================= START */
#cover {
  background-image: url("../images/gallery/randox-grand-national-sign.jpg");
  background-size: cover;
  background-position: center;
}

#cover > div { /* stop things appearing behind the cover */
  z-index: 2;
}

#colour-search { /* stop search text going over close button */
  padding-right: 35px;
}

#clear-colour-search { /* vertically align clear search button */
  top: 0px;
  bottom: 0px;
}

#colour-grid>div { /* give a specific height not available in ui-kit, and set margin-top for all (including top row) so filtering works nicely */
  height: 100px;
  margin-top: 40px;
}

#colour-grid>div>div { /* make colours have the pointer cursor so it's obvious they can be clicked on */
  cursor: pointer;
}

html .uk-background-default { /* when a white background has a dark parent background it inherits white text without this */
  color: #666;
}

html .uk-background-secondary, html .uk-background-secondary .uk-tab a { /* change dark background text */
  color: rgba(255, 255, 255, 0.7);
}

.gbc-fade-bottom:after { /* the fade out colour at the bottom of the cover */
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 55%;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, #222) left repeat;
  background: linear-gradient(transparent, #222) left repeat;
  z-index: 1;
  left: 0; /* IE fix */
}

nav a, .uk-nav-default { /* needed as styles to increase font size are always superceded  */
  font-size: 1.5rem !important;
}

.facebook-icon { color: #3B5998 !important; } /* facebook icon colour */
.instagram-icon { color: #517FA4 !important; } /* instagram icon colour */
.twitter-icon { color: #00aced !important; } /* twitter icon colour */
.google-icon { color: #DD4B39 !important; } /* google plus icon colour */
/* specific styles ============================================================= END */

/* popular colour ribbon ============================================================= START */
.gbc-colour {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.gbc-popular {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.gbc-popular span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #2297F3;
  background: linear-gradient(#2297F3 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.gbc-popular span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 2px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 2px solid #1e5799;
}
.gbc-popular span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 2px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 2px solid #1e5799;
}
/* popular colour ribbon ============================================================= END */
