@font-face {
  font-family: MontserratLight;
  src: url('Montserrat-Light.ttf');
}

@font-face {
  font-family: MontserratMedium;
  src: url('Montserrat-Medium.ttf');
}

@keyframes shadow-pulse { /* for the play button in the services section */
  0% { box-shadow: 0 0 0 0px rgba(255, 152, 6, 1); }
  100% { box-shadow: 0 0 0 75px rgba(255, 152, 6, 0); }
}

/* rainbow section colours ===================================================== START */


.why-us .highlight {
  color: #F64337;
  background: -webkit-linear-gradient(135deg, #FF5723, #EB1E63);
}
#why-us .uk-divider-small::after {
  border-color: #F64337;
  border-image: -webkit-linear-gradient(135deg, #FF5723, #EB1E63);
}

.services .highlight {
  color: #FF9806;
  background: -webkit-linear-gradient(135deg, #FFC10F, #FF5723);
}
#services .uk-divider-small::after {
  border-color: #FF9806;
  border-image: -webkit-linear-gradient(135deg, #FFC10F, #FF5723);
}

.gallery .highlight {
  color: #FFC10F;
  background: -webkit-linear-gradient(135deg, #49AF51, #FFC10F);
}
#gallery .uk-divider-small::after {
  border-color: #FFC10F;
  border-image: -webkit-linear-gradient(135deg, #49AF51, #FFC10F);
}

.aluminium .highlight {
  color: #009688;
  background: -webkit-linear-gradient(135deg, #00A9F4, #49AF51);
}
#aluminium .uk-divider-small::after {
  border-color: #009688;
  border-image: -webkit-linear-gradient(135deg, #00A9F4, #49AF51);
}

.colours .highlight {
  color: #1496F3;
  background: -webkit-linear-gradient(135deg, #3D51B5, #00A9F4);
}
#colours .uk-divider-small::after {
  border-color: #1496F3;
  border-image: -webkit-linear-gradient(135deg, #3D51B5, #00A9F4);
}

.contact .highlight {
  color: #673AB7;
  background: -webkit-linear-gradient(135deg, #9D27B0, #3D51B5);
}
#contact .uk-divider-small::after, .highlight-border, #contact .highlight-border {
  border-color: #673AB7;
  border-image: -webkit-linear-gradient(135deg, #9D27B0, #3D51B5);
}
#contact .uk-button { background-color: #673AB7; }

.uk-divider-small::after, .highlight-border {
  border-image-slice: 1 !important;
  border-width: 1px;
}

.highlight {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* required for titles that span multiple lines */
}
/* rainbow section colours ===================================================== END */

html {
  font-family: MontserratLight;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6, .uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle, .gbc-bold {
  font-family: MontserratMedium;
}

a, .uk-text-meta a, .uk-text-meta a:hover { /* made anchor colour slightly darker to meet accessibility recommendations */
  color: #0e6ecd;
}

.gbc-25-white {
  color: #ffffff;
  font-size: 1rem;
  text-shadow: 1px 2px 3px #666;
}

.gbc-25 {
  font-family: MontserratMedium;
  color: #ffffff;
  background: -webkit-linear-gradient(135deg, #9D27B0, #3D51B5, #00A9F4, #49AF51, #FFC10F, #FF5723, #EB1E63);
  font-size: 5.5rem;
  line-height: .75; /* shorter height so the background colour fits the text */
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.8);
  margin-top: 3px;
}

.gbc-25-years {
  font-family: MontserratMedium;
  color: #ffffff;
  background: -webkit-linear-gradient(135deg, #9D27B0, #3D51B5, #00A9F4, #49AF51, #FFC10F, #FF5723, #EB1E63);
  font-size: 1.5rem;
  line-height: .75; /* shorter height so the background colour fits the text */
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.8);
  margin-top: 3px;
}

#cover .uk-text-lead, #cover .uk-text-lead { /* text in cover */
  color: #ffffff;
  text-shadow: 1px 2px 3px #666;
}

#cover ul:after { /* the fade out colour at the bottom of the cover */
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 55%;
  bottom: 0;
  background: -webkit-linear-gradient(transparent, #241E21) left repeat;
  background: linear-gradient(transparent, #241E21) left repeat;
  z-index: 1;
  left: 0; /* IE fix */
}

#services .pulse-shadow {
  animation: shadow-pulse 1s infinite;
  border-radius: 20px;
}

#colours .uk-accordion-content { /* fix for different grid/accordion padding */
  margin-top: 15px;
}

#colours .colour-grid li div { /* styling for colour thumbnails */
  cursor: pointer;
  height: 75px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in;
  font-family: MontserratMedium; /* make text a little bolder */
}

#colours .colour-grid li div:hover { /* styling for colour thumbnails text hover */
  color: rgba(255, 255, 255, 0.9);
}

#colours .colour-grid li div.dark { /* styling for colour thumbnails dark text */
  color: rgba(0, 0, 0, 0.5);
}

#colours .colour-grid li div.dark:hover { /* styling for colour thumbnails dark text hover */
  color: rgba(0, 0, 0, 0.9);
}

#contact .uk-icon-image { /* send icon in contact form */
  float: right;
  margin-top: 8px;
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

#contact .uk-button { /* send button in contact form */
  color: rgba(255, 255, 255, 0.9);
  padding: 5px 30px;
  font-size: 1rem;
}

.uk-accordion-title {
  color: #0f6ecd;
}

.uk-accordion-title::before, .uk-open > .uk-accordion-title::before { /* hide +/- from acordian */
  background-image: none;
}

.uk-background-default { /* when a white background has a dark parent background it inherits white text without this */
  color: #666;
}

.uk-background-secondary { /* slightly darker background and lighter text */
  background-color: #241E21 !important;
  color: rgba(255, 255, 255, 0.7);
}

.uk-divider-small::after { /* border for divider under section header */
  border: 1px 0px 0px 0px;
}

.uk-navbar a, .uk-nav-default { /* needed as styles to increase font size are always superceded  */
  font-size: 1.5rem !important;
}

.uk-navbar-nav li { /* active navigation button background animation */
  transition: all 0.3s ease-in;
}

.uk-navbar-nav .uk-active { /* highlight active navigation button */
  background: rgba(255,255,255,0.1);
}

.uk-sticky-below { /* shadow under navigation menu when locked on page */
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

.uk-text-meta a:hover { /* for the google street view link */
  text-decoration: underline;
}

.uk-textarea { /* stop text area being resizable */
  resize: none;
}

.uk-lightbox-toolbar { /* make the lightbox description easier to read */
  background: rgba(0,0,0,.6);
  color: rgba(255,255,255,.9);
  font-family: MontserratMedium;
}

.facebook-icon { color: #3B5998 !important; } /* facebook icon colour */
.instagram-icon { color: #517FA4 !important; } /* instagram icon colour */
.twitter-icon { color: #00aced !important; } /* twitter icon colour */
.google-icon { color: #DD4B39 !important; } /* google plus icon colour */
